spring:
  datasource:
    url: jdbc:postgresql://db:5432/app
    username: app
    password: app

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  devtools:
    restart:
      enabled: true

server:
  port: 8080
